"*":
  "atom-beautify":
    python:
      beautify_on_save: true
  core:
    disabledPackages: [
      "fast-eslint"
      "linter"
    ]
    telemetryConsent: "no"
  "exception-reporting":
    userId: "8b29134e-87b1-49fc-b1af-18fb19babad8"
  "linter-eslint":
    autofix: {}
    disabling:
      disableWhenNoEslintConfig: false
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions:
      prettierLast: true
    useEditorConfig: false
    useEslint: true
  welcome:
    showOnStartup: false
